*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
releases/**/*.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/*.pt filter=lfs diff=lfs merge=lfs -text
data/pipette_well_dataset/labels_synthetic.json filter=lfs diff=lfs merge=lfs -text
data/pipette_well_dataset/labels_combined.json filter=lfs diff=lfs merge=lfs -text
